<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<div class="call-selector">
  <md-text-float label="api call"
                 ng-model="request.name"
                 ng-click="openAvailableRequests()"></md-text-float>
  <md-whiteframe class="md-whiteframe-z5">
    <md-list ng-show="showCalls">
      <md-item flex ng-repeat="call in availableCalls"
               ng-click="selectCall(call)">
        <md-item-content>
            <div flex>{{call.method}}</div>
            <div flex class="md-tile-content"><p>{{call.name}}</p></div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-whiteframe>
</div>
