<md-whiteframe class="rest-call-overview md-whiteframe-z1"
               flex layout-padding layout="column">
    <div flex layout="row" layout-phone="column" layout-wrap>
        <section ng-repeat="restCall in restCalls" layout="row">
            <rest-call rest-call="restCall"></rest-call>
            <md-button class="md-fab"
                       ng-click="confirmRestCallDeletion($event, restCall)"
                       aria-label="delete rest call">
                <md-icon icon="/icons/ic_delete_24px.svg"></md-icon>
            </md-button>
        </section>
    </div>
</md-whiteframe>