<section class="response">
    <md-card ng-if="!!response">
        <h2>Response</h2>
        <md-content layout-wrap layout="rows">
            <md-item flex="20">
                <h4>Status Code:</h4>
                <p>{{ response.status }}</p>
            </md-item>
            <md-item flex="80">
                <h4>Status Text:</h4>
                <p>{{ response.statusText }}</p>
            </md-item>
            <div ng-if="response.data[0].response">
                <md-item flex="80">
                    <h4>Headers:</h4>
                    <pre>{{ response.data[0].headers | json }}</pre>
                </md-item>
                <md-item flex="80">
                    <h4>Data:</h4>
                    <pre>{{ response.data[0].response | json }}</pre>
                </md-item>
            </div>
        </md-content>
    </md-card>
</section>
