<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<md-card class="file-creator md-whiteframe-z1"
         flex layout="column">
  <md-toolbar>
    <h3 class="md-toolbar-tools"
        ng-if="!request._id">Add File</h3>

    <h3 class="md-toolbar-tools"
        ng-if="request._id">Edit File</h3>
  </md-toolbar>
  <form role="form" layout-padding>

    <div class="row" layout="row">
      <div layout="column">
        <md-text-float data-ng-model="file.name" label="name"></md-text-float>
      </div>
    </div>

    <div class="row" layout="row">
      <div layout="column">
        <input type="file" file-model="buffer"/>
      </div>
    </div>


    <div layout="row">
      <md-button class="md-primary md-raised"
                 ng-click="save()">Submit
      </md-button>
      <md-button ng-if="image._id"
                 class="md-raised"
                 ng-click="requestCancelEditing()">Cancel
      </md-button>
    </div>

  </form>
</md-card>
