<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<section class="workflow">
  <md-card class="workflow-view"
           ng-if="!editing">
    <h2>{{ workflow.name }}</h2>
    <section layout="row">
      <div layout="column">
        <h3>Calls</h3>
        <div layout="rows" layout-phone="column" layout-wrap flex>
          <rest-call ng-repeat="call in workflow.calls"
                     id="{{call._id}}"></rest-call>
        </div>
        <h3>Connectors</h3>
        <div layout="column" flex>
          <connector ng-repeat="connector in workflow.connectors"
                     id="connector._id"
                     workflow-id="workflow._id"></connector>
        </div>
      </div>
      <section layout="column">
        <md-button class="md-fab"
                   ng-click="executeWorkflow(workflow)"
                   aria-label="execute workflow">
          <md-icon icon="/icons/ic_arrow_forward_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-fab"
                   ng-click="startEditing()"
                   aria-label="edit workflow">
          <md-icon icon="/icons/ic_edit_24px.svg"></md-icon>
        </md-button>
        <md-button class="md-fab"
                   ng-click="confirmWorkflowDeletion($event, workflow)"
                   aria-label="delete workflow">
          <md-icon icon="/icons/ic_delete_24px.svg"></md-icon>
        </md-button>
        <section ng-show="workflow.success === true">
          <md-icon icon="/icons/ic_done_24px.svg"></md-icon>
        </section>
        <section ng-show="workflow.success === false">
          <md-icon icon="/icons/ic_error_24px.svg"></md-icon>
        </section>
      </section>
    </section>
    <response response="response"></response>
  </md-card>
  <workflow-registrator ng-if="editing"
                        workflow="workflow">
  </workflow-registrator>
</section>
