<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<section class="workflow">
    <md-card class="workflow-view"
             ng-if="!editing"
             ng-click="startEditing()">
        <h2>{{ workflow.name }}</h2>

        <div layout="rows" layout-phone="column" layout-wrap>
            <rest-call ng-repeat="call in workflow.calls"
                       id="{{call._id}}"></rest-call>
        </div>
    </md-card>
    <workflow-registrator ng-if="editing"
                          workflow="workflow">
    </workflow-registrator>
</section>
