<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<div class="call-registrator panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Add API Call</h3>
    </div>
    <div class="panel-body">
        <form role="form">
            <input id="{{'name' + $id}}"
                   class="form-control input-solo"
                   type="text"
                   placeholder="API Call name"
                   data-ng-model="name"/>

            <div class="input-group">
                <div class="input-group-btn"
                     data-ng-class="{ open: openMethods }">
                    <button type="button"
                            class="btn btn-default dropdown-toggle"
                            data-ng-click="toggleMethodsDropdown()">{{method || 'method' }} <span
                            class="caret"></span></button>
                    <ul class="dropdown-menu"
                        role="menu">
                        <li role="presentation"
                            data-ng-repeat="method in availableMethods"
                            data-ng-click="selectMethod(method)">
                            <a role="menuitem"
                               tabindex="-1"
                               href="">{{method}}
                            </a>
                        </li>
                    </ul>
                </div>
                <input id="{{'url' + $id}}"
                       class="form-control"
                       type="text"
                       placeholder="url"
                       data-ng-model="url"/>
            </div>

            <textarea class="form-control input-solo"
                      name="{{'params' + $id}}"
                      id="{{'params' + $id}}"
                      cols="30" rows="10"
                      data-ng-model="params"></textarea>

            <button class="btn btn-primary"
                    data-ng-click="registerCall()">
                Submit
            </button>
        </form>
    </div>
</div>