<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<md-card class="call-registrator md-whiteframe-z1"
         flex layout="column">
  <md-toolbar>
    <h3 class="md-toolbar-tools"
        ng-if="!request._id">Add API Call</h3>

    <h3 class="md-toolbar-tools"
        ng-if="request._id">Edit API Call</h3>
  </md-toolbar>
  <form role="form" layout-padding>
    <md-text-float label="API Call name"
                   ng-model="request.name"></md-text-float>

    <div class="row" layout="row">
      <div layout="column">
        <md-text-float label="method"
                       ng-model="request.method"
                       data-ng-click="toggleMethodsDropdown()"></md-text-float>
        <md-list ng-show="openMethods">
            <md-item ng-repeat="method in availableMethods"
                     data-ng-click="selectMethod(method)">
                <p>{{ method }}</p>
                <md-divider ng-if="!$last"></md-divider>
            </md-item>
        </md-list>
      </div>

      <md-text-float class="long"
                     label="url"
                     type="url"
                     ng-model="request.url"></md-text-float>
    </div>

    <md-text-float label="headers"
                   ng-model="request.headers"
                   rows="2"
                   cols="60"
                   type="textarea"></md-text-float>

    <div layout="column">
      <md-text-float label="type"
                     ng-model="request.type"
                     data-ng-click="toggleTypesDropdown()"></md-text-float>
      <md-list ng-show="openTypes">
          <md-item ng-repeat="type in availableTypes"
                   data-ng-click="selectType(type)">
              <p>{{ type }}</p>
              <md-divider ng-if="!$last"></md-divider>
          </md-item>
      </md-list>
    </div>


    <md-text-float label="parameters"
                   ng-model="request.data"
                   rows="4"
                   cols="60"
                   type="textarea"></md-text-float>


    <div layout="row" data-ng-repeat="requestFile in request.files">
      <md-text-float label="file name"
                     ng-model="requestFile.name"></md-text-float>
      <md-text-float label="image"
                     ng-model="requestFile.file"
                     data-ng-click="toggleFileDropdown(requestFile)"></md-text-float>
    </div>

    <div data-ng-click="addNewFile()">add file</div>

    <md-list ng-show="openFiles">
        <md-item ng-repeat="file in files"
                 data-ng-click="selectFile(file)">
            <p>{{ file.name }}</p>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>


    <div layout="row">
      <md-button class="md-primary md-raised"
                 ng-click="save()">Submit
      </md-button>
      <md-button ng-if="request._id"
                 class="md-raised"
                 ng-click="requestCancelEditing()">Cancel
      </md-button>
    </div>

  </form>
</md-card>
