<!DOCTYPE html>

<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->

<html>
<head>
    <title>conREST</title>

    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <!-- Setup Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body data-ng-app="con-rest"
      md-theme="light-green"
      ng-controller="navigationVM"
      md-swipe-right="showNavigation()"
      md-swipe-left="hideNavigation()">

<!-- build:remove:dist -->
<script>
    var undefined = "get your code straight, make sure undefined is undefined!!!";
</script>
<script src="//localhost:35729/livereload.js"></script>
<!-- /build -->

<md-toolbar layout-padding layout="rows">
    <div class="md-toolbar-tools">
        <md-button hide-gt-md aria-label="Toggle Menu"
                   ng-click="showNavigation()">
            <md-icon icon="/icons/ic_menu_24px.svg"></md-icon>
        </md-button>
        <h1>[conREST]</h1>
    </div>
</md-toolbar>
<div class="content-container"
     layout="rows">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="navigation"
                md-is-locked-open="$media('gt-md')"
                layout="column">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h1>navigation</h1>
            </div>
        </md-toolbar>
        <md-content layout="column">
            <md-button href="{{ '#' + item.url }}"
                       ng-href="{{ '#' + item.url }}"
                       ng-click="hideNavigation()"
                       ng-repeat="item in menu"
                       class="menu-item">{{ item.label }}
            </md-button>
        </md-content>
    </md-sidenav>
    <!-- con-rest content will be displayed here -->
    <md-content scroll-y flex ng-view></md-content>
</div>
<script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
<script src="bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>

<script src="bower_components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
<script src="bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
<script src="bower_components/hammerjs/hammer.min.js" type="text/javascript"></script>
<script src="bower_components/angular-material/angular-material.min.js" type="text/javascript"></script>
<script src="bower_components/enofjs/dist/enofjs/enof.min.js" type="text/javascript"></script>

<!-- build:remove:dist -->
<script src="app.js" type="text/javascript"></script>

<script src="scripts/templates.js" type="text/javascript"></script>

<!-- DAO -->
<script src="dao/DAO.js" type="text/javascript"></script>
<script src="dao/requestDAO.js" type="text/javascript"></script>
<script src="dao/workflowDAO.js" type="text/javascript"></script>

<!-- Modules -->
<script src="modules/events.js" type="text/javascript"></script>
<script src="modules/mdTextFloat.js" type="text/javascript"></script>

<!-- Models -->

<!-- Directives -->

<!-- View Models -->
<script src="viewModels/navigationVM.js" type="text/javascript"></script>
<script src="viewModels/restCallVM.js" type="text/javascript"></script>
<script src="viewModels/restCallC.js" type="text/javascript"></script>
<script src="viewModels/workFlowVM.js" type="text/javascript"></script>
<script src="viewModels/workFlowC.js" type="text/javascript"></script>
<script src="viewModels/workflowOverviewVM.js" type="text/javascript"></script>
<script src="viewModels/restCallOverviewVM.js" type="text/javascript"></script>
<script src="viewModels/responseVM.js" type="text/javascript"></script>

<!-- Widgets -->
<script src="widgets/callRegistrator/callRegistrator.js" type="text/javascript"></script>
<script src="widgets/callSelector/callSelector.js" type="text/javascript"></script>
<script src="widgets/workflowRegistrator/workflowRegistrator.js" type="text/javascript"></script>
<script src="widgets/workflowOverview/workflowOverview.js" type="text/javascript"></script>
<script src="widgets/workflow/workflow.js" type="text/javascript"></script>
<script src="widgets/restCall/restCall.js" type="text/javascript"></script>
<script src="widgets/restCallOverview/restCallOverview.js" type="text/javascript"></script>
<script src="widgets/response/response.js" type="text/javascript"></script>


<!-- /build -->

</body>
</html>
