<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<md-card class="workflow-registrator"
         flex layout-padding layout="column">
  <md-toolbar>
      <h3 class="md-toolbar-tools"
          ng-if="workflow._id">Edit Workflow</h3>
      <h3 class="md-toolbar-tools"
          ng-if="!workflow._id">Create Workflow</h3>
  </md-toolbar>
  <div layout="row" layout-wrap>
    <form role="form">
      <md-text-float label="workflow name"
                     ng-model="workflow.name"></md-text-float>
      <div layout="column"
           layout-tablet="row"
           layout-wrap>
        <section layout="row"
                 ng-repeat="call in workflow.calls">
            <call-selector request="call"></call-selector>
            <md-button class="md-fab"
                       arial-label="remove call"
                       ng-click="removeCall($index)">
                <md-icon icon="/icons/ic_remove_24px.svg"></md-icon>
            </md-button>
        </section>
        <md-button class="md-fab"
                   aria-label="add call"
                   ng-click="addCall()">
            <md-icon icon="/icons/ic_add_24px.svg"></md-icon>
        </md-button>
      </div>
      <md-button class="md-primary md-raised"
                 data-ng-click="save()">save
      </md-button>
      <md-button class="md-raised"
                 data-ng-click="requestCancel()">cancel
      </md-button>
    </form>

    <div data-ng-repeat="call in newCalls">
      <call-registrator rest-call="call">
      </call-registrator>
    </div>
  </div>
</md-card>
