<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<md-whiteframe class="workflow-overview md-whiteframe-z1"
               flex layout-padding layout="column">
    <div flex layout="row" layout-phone="column" layout-wrap>
        <section ng-repeat="workflow in workflows" layout="row">
            <workflow workflow="workflow"></workflow>
        </section>
    </div>
    <md-button class="md-raised md-primary"
               ng-click="addWorkflow()">
        Add Workflow
    </md-button>
</md-whiteframe>
