<md-itme-content class="workflow-list-item">
    <div class="md-tile-content"
         layout="row"
         layout-align="start center">
        <h3 flex>{{workflow.name}}</h3>
        <h3 flex>{{workflow.calls.length}}</h3>
        <md-button class="md-raised"
                   ng-if="!isActive"
                   ng-click="requestShowDetails()">
            <md-icon icon="/icons/ic_chevron_right_18px.svg"></md-icon>
        </md-button>
        <md-button class="md-raised"
                   ng-if="isActive"
                   ng-click="requestHideDetails()">
            <md-icon icon="/icons/ic_chevron_left_18px.svg"></md-icon>
        </md-button>
    </div>
</md-itme-content>