<md-card>
  <h4>Add connector</h4>
  <call-selector request="source"
                 label="source"></call-selector>
  <call-selector request="destination"
                 label="destination"></call-selector>
  <selector label="mapper"
            ng-if="availableMappers.length > 0"
            options="availableMappers"
            display-value="mapper.name"
            value="mapper">
    <md-item-content>
      <div flex class="md-tile-content"><p>{{$parent.option.name}}</p></div>
    </md-item-content>
  </selector>
  <md-button class="md-primary md-raised"
             ng-click="save()">SAVE
  </md-button>
</md-card>
