<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<md-card class="md-whiteframe-z1"
         flex layout="column">
  <md-toolbar>
      <h3 class="md-toolbar-tools">Create Mapper</h3>
  </md-toolbar>
  <form role="form" layout-padding>
    <md-text-float label="Mapper name"
                   ng-model="name"></md-text-float>
    <section ng-repeat="map in maps"
             class="row"
             layout="row">
      <div layout="column">
        <md-text-float label="place"
                     ng-model="map.place"
                     data-ng-click="togglePlacesDropdown()"></md-text-float>
        <md-list ng-show="openPlaces">
          <md-item ng-repeat="place in availablePlaces"
                   data-ng-click="selectPlace(map, place)">
            <p>{{ place }}</p>
            <md-divider ng-if="!$last"></md-divider>
          </md-item>
        </md-list>
      </div>
      <md-text-float label="source"
                     ng-model="map.source"></md-text-float>
      <md-text-float label="destination"
                     ng-model="map.destination"></md-text-float>
      <md-button class="md-fab"
                 aria-label="remove map"
                 ng-disabled="$first && $last"
                 ng-click="removeMap($index)">
        <md-icon icon="/icons/ic_delete_24px.svg"></md-icon>
      </md-button>
    </section>
    <md-button class="md-primary md-raised"
               aria-label="save map"
               type="submit"
               ng-click="save()">
      save
    </md-button>
  </form>
</md-card>
