<!-- con-rest -->
<!-- Version: 0.0.1 -->
<!-- -->
<!-- Author: Andy Tang -->
<!-- Fork me on Github: https://github.com/EnoF/con-rest -->
<md-text-float label="{{ label }}"
               ng-model="displayValue"
               ng-click="openOptions()"></md-text-float>
<md-whiteframe class="md-whiteframe-z5"
               ng-show="isOpen">
  <md-list>
    <md-item flex ng-repeat="option in options"
             ng-click="select(option)">
      <ng-transclude></ng-transclude>
    </md-item>
  </md-list>
</md-whiteframe>
