<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button md-button"
      aria-label="back"
      ng-click="vm.session.connector = null">
      <md-icon md-font-icon="Material-Design-Icons"
        class="mdi-navigation-arrow-back"></md-icon>
    </md-button>
    <h2 ng-if="!vm.connector._id">
      Add Connector
    </h2>
    <h2 ng-if="!!vm.connector._id">
      Edit Connector
    </h2>
  </div>
</md-toolbar>
<md-content layout-padding>
  <form ng-submit="vm.save()"
    novalidate
    layout="column"
    name="connectorForm">
    <md-select placeholder="select source"
      required
      ng-model="vm.connector.source._id">
      <md-option ng-repeat="call in vm.getSources()"
        value="{{ call._id }}">{{ call.name }}</md-option>
    </md-select>
    <md-select placeholder="select destination"
      required
      ng-model="vm.connector.destination._id">
      <md-option ng-repeat="call in vm.getDestinations()"
        value="{{ call._id }}">{{ call.name }}</md-option>
    </md-select>
    <md-select ng-model="vm.connector.mapper._id"
      required
      placeholder="select mapper"
      md-on-open="vm.getMappers()">
      <md-option value="vm.session.mapper._id"
        ng-click="vm.addMapper()">{{ vm.session.mapper.name || 'Add New Mapper' }}</md-option>
      <md-option value="{{ map._id }}"
        ng-repeat="map in vm.mappers">{{ map.name }}</md-option>
    </md-select>
    <md-button class="md-primary md-raised"
      ng-disabled="!connectorForm.$valid"
      type="submit">Submit</md-button>
  </form>
</md-content>
