<md-toolbar md-scroll-schrink>
  <div class="md-toolbar-tools">
    <a class="md-icon-button md-button"
      aria-label="back"
      ng-href="#/workflows/{{ workflowId }}">
      <md-icon md-font-icon="Material-Design-Icons"
        class="mdi-navigation-arrow-back"></md-icon>
    </a>
    <h2>
      Connector Details
    </h2>
  </div>
</md-toolbar>
<md-content ng-if="!!vm.connector._id">
  <section>
    <md-subheader class="md-primary">source</md-subheader>
    <md-list>
      <call-item id="{{ vm.connector.source._id }}"
        ng-click="vm.goToCall(vm.connector.source._id)"></call-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">destination</md-subheader>
    <md-list>
      <call-item id="{{ vm.connector.destination._id }}"
        ng-click="vm.goToCall(vm.connector.destination._id)"></call-item>
    </md-list>
  </section>
  <section>
    <md-subheader class="md-primary">mapper</md-subheader>
    <md-list>
      <mapper-item id="{{ vm.connector.mapper._id }}"
        ng-click="vm.goToMapper()"></mapper-item>
    </md-list>
  </section>
</md-content>
